@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn.glitch.global/933d6aef-96f7-4208-a311-ad3f75975f04/Unknown-2.jpeg?v=1748976604258");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(230, 40, 155);
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid rgb(20,200,20);
}
